doctype html
html
  head
    title Simple Form
  body
    h1 Simple Form Example

    form(action="/new" method="post")
      label(for="author") Author:
      input(type="text" id="author" name="author" required)

      label(for="message") Message:
      textarea(id="message" name="message" rows="4" required)

      button(type="submit") Submit
    a(href="/") Veja todas as mensagens